{
  "openapi": "3.0.0",
  "info": {
    "title": "Seedream 4.5 - AI/ML API",
    "version": "1.0.0",
    "description": "Seedream 4.5 is ByteDance's latest internal image generation model focused on high-quality text-to-image and image-to-image tasks. It improves editing consistency, portrait quality, small text rendering, multi-image fusion, and logical scene understanding for commercial use cases like e-commerce, advertising, film, gaming, and architectural visualization."
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "bytedance/seedream-4-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 14,
                    "description": "List of URLs or local Base64 encoded images to edit."
                  },
                  "image_size": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "minimum": 1440,
                            "maximum": 4096,
                            "default": 2048
                          },
                          "height": {
                            "type": "integer",
                            "minimum": 1440,
                            "maximum": 4096,
                            "default": 2048
                          }
                        }
                      },
                      {
                        "type": "string",
                        "enum": [
                          "2K",
                          "4K"
                        ]
                      }
                    ],
                    "description": "The size of the generated image."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url",
                    "description": "The format in which the generated images are returned."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "watermark": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an invisible watermark to the generated images."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "bytedance/seedream-4-5"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "operationId": "_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "bytedance/seedream-4-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 14,
                    "description": "List of URLs or local Base64 encoded images to edit."
                  },
                  "image_size": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "minimum": 1440,
                            "maximum": 4096,
                            "default": 2048
                          },
                          "height": {
                            "type": "integer",
                            "minimum": 1440,
                            "maximum": 4096,
                            "default": 2048
                          }
                        }
                      },
                      {
                        "type": "string",
                        "enum": [
                          "2K",
                          "4K"
                        ]
                      }
                    ],
                    "description": "The size of the generated image."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url",
                    "description": "The format in which the generated images are returned."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "watermark": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an invisible watermark to the generated images."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "bytedance/seedream-4-5"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}